.general-footer {
  background: #444444;
}

.footer-title {
  text-align: center;
  padding: 17.5px 0;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer-title__link {
  text-decoration: none;
  color: #009688;
}