// переменные
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
  //font:italic bold 12px/20px arial,sans-serif;
  //font: bold italic small-caps 150%/1.4 Arial, Helvetica, sans-serif;
  font: normal 400 18px/22px 'Roboto', sans-serif;
}


$size:4px;
$dark:#444444;
$green:#009688;
$grey:#505050;
$white:#FFFFFF;
$color-bord: #C4C4C4;

