
.work-section {
  background: rgba(0, 150, 136, 0.1);
}

.wrapper_works {
  margin: 0 0 14*$size 0;
  padding-top: 8*$size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}
