@import "_reset";
@import "_variables";
@import "ui-components";


.container {
  width: 1170px;
  margin: 0 auto;
}

.general-header {
  background: $dark;
  margin: 0 0 14*$size 0;
}

.wrapper-head {
  display: flex;
  justify-content: flex-end;
  padding: 2*$size 4*$size;

  &__menu {
    display: flex;
    align-items: center;
  }

  &__link {
    font-weight: 500;
    font-size: 8*$size;
    line-height: 37px;
    color: $white;
    margin: 0 8*$size;
    text-decoration: none;
  }

  &__link:hover {
    color: $green;
  }

  &__label{
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 12px;
    margin: 14px 0 14px 0;
  }

  &__pic-menu {
    //display: none;
  }

  /*&__pic-label:checked .about__title{
    color: red;
    font-size: 55px;
  }

  &__pic-menu:checked .about__title{
    color: red;
    font-size: 55px;
  }*/
}

.about {
  display: flex;
  align-items: center;
  padding: 0 4*$size;
  margin: 0 0 14*$size 0;

  &__img {
    width: 260px;
    height: 260px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0 0 0 8*$size;
  }

  &__title {
    font-weight: bold;
    font-size: 9*$size;
    line-height: 42px;
    color: $dark;
    margin-bottom: 4*$size;
  }

  &__description {
    font-size: 4.5*$size;
    line-height: 21px;
    color: $dark;
    flex-grow: 0;
    margin-bottom: 4*$size;
  }
}

.wrapper-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4*$size;
  margin: 14*$size 0;
}

.skill-work__progress_longest {
  background: linear-gradient(90deg, #009688 0%, rgba(0, 150, 136, 0) 88.54%);
}

.skill-work__progress_shortest {
  background: linear-gradient(90deg, #009688 0%, rgba(0, 150, 136, 0) 28.29%);
}

.work-section {
  background: rgba(0, 150, 136, 0.1);
  //padding: 32px;
}

.wrapper_works {
  margin: 0 0 14*$size 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8*$size 4*$size;
}

.skills {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.wrapper-contacts {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  margin: 0 0 14*$size 0;
}

.form-contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 32px;

  &__inputs {
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
  }

  &__name{
    width: 50%;
    font-size: 5*$size;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 2*$size 4*$size;
    @extend %border;
  }

  &__email{
    width: 50%;
    font-size: 5*$size;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 2*$size 4*$size;
    @extend %border;
  }

  &__textarea {
    width: 100%;
    resize: none;
    @extend %border;
  }

  &_btn {
    width: 100%;
  }
}

.data-contacts {
  width: 50%;
  @extend %border;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 18.5px;

  &__item {
    padding: 2.5px 0;
  }
}

.general-footer {
  background: $dark;
}

.footer-title {
  text-align: center;
  padding: 17.5px 0;
  font-size: 18px;
  line-height: 21px;
  color: $white;

  &__link {
    text-decoration: none;
    color: $green;
  }
}
