@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.container {
  max-width: 1170px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font: normal 400 18px/22px "Roboto", sans-serif;
}

:root {
  font: normal 400 18px/22px "Roboto", sans-serif;
}

.data-contacts, .form-contacts__textarea, .form-contacts__name, .form-contacts__email, .skill-box {
  border: 1px solid #C4C4C4;
  border-radius: 5.6px;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  margin: 0 0 32px 0;
}
.section-header__header {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #444444;
  margin: 0 0 8px 0;
}
.section-header__line {
  width: 80px;
  background: #444444;
  height: 2px;
}

.btn {
  padding: 12px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #009688;
  border-radius: 5.6px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
}

.link {
  font-size: 16px;
  line-height: 19px;
  color: #009688;
  text-decoration: none;
}
.link__icon {
  margin-right: 10px;
}

.skill-work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0 0 40px 0;
}
.skill-work__header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0;
}
.skill-work__label {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #009688;
  margin: 0 0;
}
.skill-work__progress {
  display: flex;
  align-items: center;
  height: 28px;
  background: linear-gradient(90deg, #009688 0%, rgba(0, 150, 136, 0) 40.34%);
  flex-grow: 1;
  margin: 0 32px;
}
.skill-work__description {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  order: 1;
  margin: 16px 0 0 0;
}

.skill-box {
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 16px;
}
.skill-box__img {
  margin-bottom: 8px;
}
.skill-box__img img {
  width: 100%;
  height: auto;
}
.skill-box__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #444444;
  margin: 0 0 8px 0;
}
.skill-box__description {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  color: 4px;
  margin: 0 0 8px 0;
}
.skill-box__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0;
  margin: 0 0;
}
.skill-box__link {
  font-size: 16px;
  line-height: 19px;
  color: #009688;
  text-decoration: none;
  margin: 0 16px 0 0;
}
.skill-box__icon {
  margin-right: 10.4px;
}

.general-header {
  background: #444444;
  margin: 0 0 56px 0;
}

.wrapper-head {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
}
.wrapper-head__menu {
  display: flex;
  align-items: center;
}
.wrapper-head__link {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #FFFFFF;
  margin: 0 32px;
  text-decoration: none;
}
.wrapper-head__link:hover {
  color: #009688;
}
.wrapper-head__pic-menu {
  display: none;
}
.wrapper-head__pic-label {
  display: none;
}

.about {
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 0 0 56px 0;
}
.about__img {
  width: 260px;
  height: 260px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__img img {
  width: 100%;
  height: auto;
}
.about__main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0 0 0 32px;
}
.about__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #444444;
  margin-bottom: 16px;
}
.about__description {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  flex-grow: 0;
  margin-bottom: 16px;
}

.wrapper-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  margin: 16px 0;
}

.skill-work__progress_longest {
  background: linear-gradient(90deg, #009688 0%, rgba(0, 150, 136, 0) 88.54%);
}

.skill-work__progress_shortest {
  background: linear-gradient(90deg, #009688 0%, rgba(0, 150, 136, 0) 28.29%);
}

.work-section {
  background: rgba(0, 150, 136, 0.1);
}

.wrapper_works {
  margin: 0 0 56px 0;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-contacts {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0 0 56px 0;
}

.form-contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-right: 32px;
}
.form-contacts__inputs {
  display: flex;
  align-items: flex-start;
  padding: 0;
}
.form-contacts__name, .form-contacts__email {
  width: 50%;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  margin-right: 32px;
  margin-bottom: 32px;
}
.form-contacts__name:focus, .form-contacts__email:focus, .form-contacts__textarea:focus {
  border: 1px solid #009688;
  border-radius: 4.8px;
  outline: none;
}
.form-contacts__email {
  margin-right: 0;
}
.form-contacts__textarea {
  width: 100%;
  resize: none;
  margin-bottom: 32px;
}
.form-contacts_btn {
  width: 100%;
}

.data-contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}
.data-contacts__item {
  margin: 10px 0;
}

.general-footer {
  background: #444444;
}

.footer-title {
  text-align: center;
  padding: 17.5px 0;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer-title__link {
  text-decoration: none;
  color: #009688;
}

/*# sourceMappingURL=style.css.map */
