// temporary components

@import "_variables.scss";

%border {
  border: 1px solid $color-bord;
  border-radius: 1.4*$size;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4*$size;
  margin: 0 0 8*$size 0;

  &__header {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: $dark;
    margin: 0 0 2*$size 0;
    //@extend %border;
  }

  &__line {
    width: 80px;
    background: $dark;
    height: 2px;
  }
}

.btn {
  padding: 3*$size 4.5*$size;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $green;
  border-radius: 1.4*$size;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: $white;
}

.link {
  font-size: 16px;
  line-height: 19px;
  color: $green;
  text-decoration: none;
  //margin: 0 2*$size;

  &__icon {
    margin-right: 2.5*$size;
  }
}

.skill-work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0 0 10*$size 0;

  &__header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  &__label {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $green;
    margin: 0 0;
  }

  &__progress {
    display: flex;
    align-items: center;
    height: 28px;
    background: linear-gradient(90deg, $green 0%, rgba(0, 150, 136, 0) 40.34%);
    flex-grow: 1;
    margin: 0 8*$size;
  }

  &__description {
    font-size: 18px;
    line-height: 21px;
    color: $dark;
    order: 1;
    margin: 4*$size 0 0 0;
  }
}

.skill-box {
  @extend %border;
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2*$size;
  box-sizing: border-box;
  border-radius: 1.5*$size;
  //margin: 0 8*$size;

  &__img {
    margin-bottom: 2*$size;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 6*$size;
    line-height: 7*$size;
    color: $dark;
    margin: 0 0 2*$size 0;
  }

  &__description {
    display: flex;
    font-size: 4.5*$size;
    line-height: 21px;
    color: $size;
    margin: 0 0 2*$size 0;
  }

  &__footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $size 0;
    margin: 0 0;
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    color: $green;
    text-decoration: none;
    margin: 0 4*$size 0 0;
  }

  &__icon {
    margin-right: 2.6*$size;
  }
}



