.about {
  display: flex;
  align-items: center;
  padding: 0 4*$size;
  margin: 0 0 14*$size 0;

  &__img {
    width: 260px;
    height: 260px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0 0 0 8*$size;
  }

  &__title {
    font-weight: bold;
    font-size: 9*$size;
    line-height: 42px;
    color: $dark;
    margin-bottom: 4*$size;
  }

  &__description {
    font-size: 4.5*$size;
    line-height: 21px;
    color: $dark;
    flex-grow: 0;
    margin-bottom: 4*$size;
  }
}

.btn {
  padding: 3*$size 4.5*$size;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $green;
  border-radius: 1.4*$size;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: $white;
}


@media (min-width: 980px) and (max-width: 1169px) {

  .about {
    display: flex;
    align-items: center;
    margin: 0 0 14*$size 0;


    &__img {
      padding: 0 12*$size;
    }

    &__main-info {
      margin: 0 0 0 0;
    }

    &__title {
      width: 100%;
    }
  }
}

@media (max-width: 979px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    //padding: 0 4*$size;
    margin: 0 0 14*$size 0;


    &__img {
      width: 260px;
      height: auto;
      margin: 0 0 14*$size 0;
      padding: 0 12*$size;
    }

    &__main-info {
      margin: 0 0 0 0;
    }

    &__title {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    //padding: 0 4*$size;
    margin: 0 0 14*$size 0;


    &__img {
      width: 260px;
      height: auto;
      margin: 0 0 14*$size 0;
      padding: 0 12*$size;
    }

    &__main-info {
      margin: 0 0 0 0;
    }

    &__title {
      width: 100%;
      text-align: center;
    }

  }
}

@media (max-width: 480px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    //padding: 0 4*$size;
    margin: 0 0 14*$size 0;


    &__img {
      width: 260px;
      height: auto;
      margin: 0 0 14*$size 0;
      padding: 0 12*$size;
    }

    &__main-info {
      margin: 0 0 0 0;
    }

    &__title {
      width: 100%;
      text-align: center;
    }

  }
}

