@import "ui-components";

%border {
  border: 1px solid $color-bord;
  border-radius: 1.4*$size;
}

@media (min-width: 980px) and (max-width: 1169px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .general-header {
    background: $dark;
    margin: 0 0 14*$size 0;
  }

  //----------------------------------------------------------

  .about {
    display: flex;
    align-items: center;
    margin: 0 0 14*$size 0;


    &__img {
      padding: 0 12*$size;
    }

    &__main-info {
      margin: 0 0 0 0;
    }

    &__title {
      width: 100%;
    }

  }

  //-------------------------------------------

  .skill-work__header {
    display: flex;
  }

  //------------------------------------

  .wrapper_works {
    margin: 0 0 8*$size 0;
  }
  //------------------------------------

  .skills {
    justify-content: center;
  }

  //----------------------------------------

  .wrapper-contacts {
    padding: 0 16px;
  }

  .form-contacts {
    width: 50%;

    &__inputs {
    }

    &__name {
      width: 50%;
    }

    &__email {
      width: 100%;
    }

  }

  .data-contacts {
    width: 50%;
  }

}

@media (max-width: 979px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .general-header {
    background: $dark;
    margin: 0 0 14*$size 0;
  }

  //----------------------------------------------------------

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    //padding: 0 4*$size;
    margin: 0 0 14*$size 0;


    &__img {
      width: 260px;
      height: auto;
      margin: 0 0 14*$size 0;
      padding: 0 12*$size;
    }

    &__main-info {
      margin: 0 0 0 0;
    }

    &__title {
      width: 100%;
      text-align: center;
    }

  }

  //-------------------------------------------

  .skill-work__header {
    display: flex;
    flex-direction: column;
  }
  .skill-work__progress {
    height: 4px;
    width: 100%;
    margin: 8px 0 0 0;
  }

  .wrapper-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4*$size;
    margin: 14*$size 0;
  }

  //------------------------------------

  .wrapper_works {
    margin: 0 0 8*$size 0;
  }
  //------------------------------------

  .skills {
    justify-content: center;
  }

  //----------------------------------------

  .wrapper-contacts {
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .form-contacts {
    width: 100%;
    margin-right: 0;

    &__inputs {
      width: 100%;
      flex-wrap: wrap;
    }

    &__name {
      width: 100%;
      margin-right: 0;
    }

    &__email {
      width: 100%;
    }

    &_btn {
      margin-bottom: 32px;
    }


  }

  .data-contacts {
    width: 100%;
  }

  .general-footer {
    background: $dark;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .general-header {
    background: $dark;
    margin: 0 0 14*$size 0;
  }

  .wrapper-head {
    position: relative;
    text-align: center;
    height: 62px;

    &__pic-label {
      width: 18px;
      height: 18px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 900;
      color: #FFFFFF;
      margin: 22px 2*$size;
    }

    &__menu {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: translateY(100%);

      max-height: 0;
      font-size: 0;
      overflow: hidden;
      transition: .5s;
    }

    &__link {
      width: 100%;
      display: block;
      background: $dark;
      padding: 10px;
      border-top: 1px solid grey;
      margin: 0 0;
      font-size: 20px;
    }
  }

  #check-menu {
    display: none;
  }

  #check-menu:checked ~ .wrapper-head__menu {
    max-height: 500px;
    font-size: 16px;
  }

  //----------------------------------------------------------

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    //padding: 0 4*$size;
    margin: 0 0 14*$size 0;


    &__img {
      width: 260px;
      height: auto;
      margin: 0 0 14*$size 0;
      padding: 0 12*$size;
    }

    &__main-info {
      margin: 0 0 0 0;
    }

    &__title {
      width: 100%;
      text-align: center;
    }

  }

  //-------------------------------------------

  .skill-work__header {
    display: flex;
    flex-direction: column;
  }
  .skill-work__progress {
    height: 4px;
    width: 100%;
    margin: 8px 0 0 0;
  }

  .work-section {
    background: none;
  }

  .wrapper-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4*$size;
    margin: 14*$size 0;
  }

  //------------------------------------

  .wrapper_works {
    margin: 0 0 8*$size 0;
  }
  //------------------------------------

  .skill-box {
    width: 100%;

    &__img {
      width: 100%;
    }

    &__title {
      width: 100%;
    }

    &__description {
      width: 100%;
    }
  }
  //----------------------------------------

  .wrapper-contacts {
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .form-contacts {
    width: 100%;
    margin-right: 0;

    &__inputs {
      width: 100%;
      flex-wrap: wrap;
    }

    &__name {
      margin-right: 0;
      width: 100%;
    }

    &__email {
      width: 100%;
    }

    &_btn {
      margin-bottom: 32px;
    }


  }

  .data-contacts {
    width: 100%;
  }

  .general-footer {
    background: $dark;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .general-header {
    background: $dark;
    margin: 0 0 14*$size 0;
  }

  .wrapper-head {
    position: relative;
    text-align: center;
    height: 62px;

    &__pic-label {
      width: 18px;
      height: 18px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      z-index: 900;
      color: #FFFFFF;
      margin: 22px 2*$size;
    }

    &__menu {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: translateY(100%);

      max-height: 0;
      font-size: 0;
      overflow: hidden;
      transition: .5s;
    }

    &__link {
      width: 100%;
      display: block;
      background: $dark;
      padding: 10px;
      border-top: 1px solid grey;
      margin: 0 0;
      font-size: 20px;
    }
  }

  #check-menu {
    display: none;
  }

  #check-menu:checked ~ .wrapper-head__menu {
    max-height: 500px;
    font-size: 16px;
  }

  //----------------------------------------------------------

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    //padding: 0 4*$size;
    margin: 0 0 14*$size 0;


    &__img {
      width: 260px;
      height: auto;
      margin: 0 0 14*$size 0;
      padding: 0 12*$size;
    }

    &__main-info {
      margin: 0 0 0 0;
    }

    &__title {
      width: 100%;
      text-align: center;
    }

  }

  //-------------------------------------------

  .skill-work__header {
    display: flex;
    flex-direction: column;
  }
  .skill-work__progress {
    height: 4px;
    width: 100%;
    margin: 8px 0 0 0;
  }

  .work-section {
    background: none;
  }

  .wrapper-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4*$size;
    margin: 14*$size 0;
  }

  //------------------------------------

  .wrapper_works {
    margin: 0 0 8*$size 0;
  }
  //------------------------------------

  .skill-box {
    width: 100%;

    &__img {
      width: 100%;
    }

    &__title {
      width: 100%;
    }

    &__description {
      width: 100%;
    }
  }
  //----------------------------------------

  .wrapper-contacts {
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .form-contacts {
    width: 100%;
    margin-right: 0;

    &__inputs {
      flex-wrap: wrap;
    }

    &__name {
      width: 100%;
    }

    &__email {
      width: 100%;
    }

    &_btn {
      margin-bottom: 32px;
    }

  }

  .data-contacts {
    width: 100%;
  }

  .general-footer {
    background: $dark;
  }
}